name: Deploy to Beta Bot

on:
  push:
    branches: [ "development" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build with Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          arguments: build shadowJar
      - uses: actions/upload-artifact@v4
        with:
          name: Package
          path: build/libs

      - name: rename file
        run: mv ./build/libs/*-all.jar .slimebot.jar

      - name: Upload Bot to Server
        uses: appleboy/scp-action@v0.1.7
        with:
          debug: true
          host: ${{ secrets.SSH_HOST }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          username: ${{ secrets.SSH_USER }}
          source: '.slimebot.jar'
          target: '${{ secrets.BETA_WORK_DIR }}'
          strip_components: 1

      - name: rebuild Dockercontainer and start Bot
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          username: ${{ secrets.SSH_USER }}
          script: '${{ secrets.BETA_WORK_DIR }}rebuild.sh slimetest slimetest'
